@mixin Flex( $direction, $wrap, $align, $content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $content;
}

.titleContent{
    font-family: "Kalam", cursive;
    font-weight: 600;
    color: #1a1a1a;
    font-size: 1.5em;
    text-align: left;
}

.pContent{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    text-align: justify;
}

.contentDescription{
    width: 100%;
    height: auto;

    @include Flex(column, nowrap, left, start);
    gap: 4vh;
}

.aboutUsSection{
    width: 100vw;
    height: auto;
    padding: 3% 8%;
    box-sizing: border-box;
    @include Flex(column, nowrap, center, start);
    gap: 7vh;
    
}

.howDoesItWork{
    width: 100vw;
    height: auto;
    padding: 3% 15%;
    box-sizing: border-box;
    @include Flex(column, nowrap, center, start);
    gap: 7vh;
}

.sustainability{
    width: 100vw;
    height: auto;
    padding: 5% 15%;
    box-sizing: border-box;
    background-color: #5F8245;
    margin-top: 30px;

    @include Flex(column, nowrap, center, start);
    gap: 60px;

    h3{
        font-family: "Kalam", cursive;
        color: #fff;
        font-size: 2em;
        text-align: center;
        line-height: 50px;
        font-weight: 100;
    }

    p{
        text-align: justify;
        font-size: 1.2em;
        color: #fff;
        line-height: 36px;
        font-weight: 100;

        
        width: 100%;
        height: auto;
        margin: auto;
    }
}

.efficiency{
    width: 100vw;
    height: auto;
    padding: 3% 15%;
    box-sizing: border-box;
    @include Flex(column, nowrap, center, start);
    gap: 7vh;
    margin-top: 40px;
}

.founders{
    width: 100vw;
    height: auto;
    padding: 3% 15%;
    box-sizing: border-box;
    @include Flex(column, nowrap, center, start);
    gap: 7vh;

    h2{
        font-size: 1.5em;
        color: #1a1a1a;
        font-family: "Kalam", cursive;
        text-align: center;
        font-weight: 100;
    }

    .contentFounders{
        width: 100%;
        min-height: 200px;
        height: auto;
    }
}

.responsible{
    width: 100vw;
    height: auto;
    padding: 3% 15%;
    box-sizing: border-box;
    @include Flex(column, nowrap, start, start);
    gap: 5vh;
    
    h2{
        font-size: 1.5em;
        color: #1a1a1a;
        font-family: "Kalam", cursive;
        text-align: left;
        font-weight: 100;
        position: relative;
        left: -40px;
    }

    p{
        font-size: 1em;
        font-weight: 100;
        line-height: 24px;
        color: #1a1a1a;
    }

    .contentResponsible{
        width: 100%;
        height: auto;
        @include Flex(row, nowrap, start, center);
        gap: 30px;
        margin-top: 20px;

        .contentName{
            width: 50%;
            height: 140px;
            background-color: #749719;
            border-radius: 2px;
            @include Flex(row, nowrap, center, center);
            
            span{
                text-align: center;
                font-size: .9em;
                color: #fff;
                text-transform: uppercase;

            }
        }

        .contentInformation{
            width: 50%;
            min-height: 140px;
            height: auto;
            @include Flex(column, nowrap, start, center);
            gap: 20px;

            .name{
                font-size: 1em;
                color: #1a1a1a;
                font-weight: 300;

                b{
                    color: #749719;
                }
            }

            .email{
                font-size: .8em;
                color: #1a1a1a;
                font-weight: lighter;

                a{
                    text-decoration: underline;
                    color: #1a1a1a;
                }
            }

            .tell{
                font-size: .8em;
                color: #1a1a1a;
                font-weight: lighter;

            }
        }

        .contentCoor{
            width: 100%;
            height: auto;
        }
    }

    .containerCoor{
        width: 100%;
        height: auto;
        @include Flex(column, nowrap, start, start);
        gap: 40px;
        margin-top: 20px;
        align-items: normal !important;
        
        .titleCoor{
            font-size: 1.2em;
            color: #1a1a1a;
            font-weight: bold;
            font-family: "Kalam", cursive;

        }
    }
}

.contentBannerUfgd{
    width: 95vw;
    height: 150px;
    background-color: #749719;
    @include Flex(row, nowrap, center, center);
    margin: 20px auto;

    span{
        font-size: 1.7em;
        font-weight: bold;
        font-family: "Kalam", cursive;
        color: #fff;
        white-space: 3%;
    }
}

.sectionufgd{
    width: 100vw;
    height: auto;
    padding: 3% 15%;
    box-sizing: border-box;
    @include Flex(column, nowrap, center, start);
    gap: 7vh;
    margin-top: 40px;
}

.docsSection{
    width: 100vw;
    height: auto;
    padding: 3% 15%;
    box-sizing: border-box;
    @include Flex(column, nowrap, start, start);
    gap: 5vh;

    .titleCoor{
        font-size: 1.9em;
        color: #1a1a1a;
        font-family: "Kalam", cursive;
        text-align: left;
        font-weight: bold;
        position: relative;
        left: -40px;
    }
}

@media (max-width: 1390px) {
    .aboutUsSection{
        width: 100%;
        padding: 20px 10px;
        @include Flex(column, nowrap, center, center);
        gap: 7vh;        
    }
    
    .howDoesItWork{
        width: 100%;
        padding: 20px 10px;
        @include Flex(column, nowrap, center, center);
        gap: 7vh;   
    }
    
    .sustainability{
        width: 100%;
        padding: 40px 10px;
        margin-top: 30px;

        @include Flex(column, nowrap, center, start);
        gap: 60px;

        h3{
            font-size: 1.8em;
        }

        p{
            font-size: 1em;
        }
    }

    .efficiency{        
        @include Flex(column, nowrap, center, center);
        padding: 20px 10px; 
        gap: 7vh;
        margin-top: 40px;
    }
    
    .founders{
        padding: 20px 10px; 
        @include Flex(column, nowrap, center, start);
        gap: 7vh;

        h2{
            font-size: 1.3em;
        }

        .contentFounders{
            min-height: 250px;
        }
    }

    .responsible{
        padding: 20px 10px; 
        gap: 5vh;

        h2{
            position: relative;
            left: 0px;
        }
    
        p{
            font-size: 1em;
        }   
        
        .contentResponsible{
            align-items: stretch;
            gap: 10px;
    
            .contentName{
                width: 50%;
                height: 180px;
                
                span{
                    font-size: .8em;    
                }
            }
    
            .contentInformation{
                width: 50%;
                min-height: 180px;
                gap: 15px;
    
                .name{
                    font-size: 1em;
                    @include Flex(column, wrap, start, start);
                    gap: 2px;
                }
    
                .email{
                    font-size: .8em;
                }
    
                .tell{
                    font-size: .8em;    
                }
            }
        }
    }

    .contentBannerUfgd{
        width: 100vw;
        padding: 15px;
        box-sizing: border-box;

        span{
            font-size: 1.5em;
        }
    }

    .sectionufgd{
        padding: 20px 10px;
    }

    .docsSection{
        padding: 20px 10px;
        @include Flex(column, nowrap, start, start);
        gap: 5vh;
    
        .titleCoor{
            font-size: 1.9em;
            left: 0px;
        }
    }
}