@mixin Flex( $direction, $wrap, $align, $content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $content;
}

.content{
    width: 100%;
    height: auto;
}

.containerNavAndMenu{
    width: 100%;
    height: auto;
}

.nav{
    width: 97vw;
    height: 75px;
    background-color: #fff;
    @include Flex(row, nowrap, center, space-between);
    gap: 20px;
    padding: 10px 35px;

    .nameProject{
        width: 460px;
        height: auto;
        
        .titleProject{
            font-size: 1.3em;
            font-family: "Inter", sans-serif;

            @include Flex(row, nowrap, center, start);
            gap: 10px;
        }

        a{
            text-decoration: none;
            color: #1a1a1a;
        }
        b{
            color: #62A43F !important;
            &:hover{
                text-decoration: underline;
            }
        }

    }

    .userAction{
        width: auto;
        height: auto;

        @include Flex(row, nowrap, center, center);
        gap: 25px;

        .loginText{
            font-family: "Inknut Antiqua", serif;
            font-size: 1.1em;
            color: #1a1a1a;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }

        a{
            text-decoration: none;
        }

        .buttonRegistre{
            width: 130px;
            height: 50px;
            border-radius: 5px;
            font-size: .9em;
            font-family: "Inknut Antiqua", serif;
            background-color: #E9A476;
            padding: 5px;
            box-sizing: border-box;
            color: #fff;
            text-decoration: none;
            border: 0px;
            cursor: pointer;
            transition: .1s;
            &:hover{
                background-color: #d89264;
            }
        }
    }
}

.navigationTextselect{
    &::before{
        transform: translateY(0%) rotate(225deg) !important;
    }
}

.navigation{
    @include Flex(row, nowrap, center, center);
    gap: 65px;
    width: 100%;
    height: auto;
    position: relative;

    user-select: none; /* Impede seleção de texto */
    -webkit-user-select: none; /* Para navegadores baseados no WebKit */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Edge */


    .contentStrNavigation{
        width: auto;
        height: auto;
        position: relative;

        &:hover{
            .boxDetails{
                display: flex !important;
            }
        }
        
        .navigationText{
            font-size: 1.1em;
            font-family: "Inter", sans-serif;
            color: #1a1a1a;
            text-decoration: none;
            position: relative;
            cursor: pointer;
            transition: .2s ease-in-out;

            &:hover{
                color: #414141;
            }

            &::before{
                content: "";
                position: absolute;
                top: 8px;
                right: -22px;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 8px;
                height: 8px;
                border-bottom: 2px solid #1a1a1a;
                border-right: 2px solid #1a1a1a;
            }
        }

        .boxDetails{
            max-width: 250px;
            width: 200px;
            height: auto;
            min-height: 60px;
            border-radius: 5px;
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
            position: absolute;
            z-index: 1;

            left: 50%; // 🔹 Alinha ao centro horizontalmente
            transform: translateX(-50%); // 🔹 Garante alinhamento perfeito ao centro
            margin: auto;
            top: 34px;
        
            @include Flex(column, nowrap, center, center);
            display: none;
            gap: 15px;

            a{
                text-align: center;
            }

            .navDetais{
                font-size: 1em;
                color: #424242;
                font-family: "Inter", sans-serif;
                text-align: center;

                &:hover{
                    color: #1a1a1a;
                    text-decoration: underline;
                }
            }
        }
    }
}

.style-navigation-orange{
    .button-registre{
        background-color: #E9A476;
    }
}

// -----------------------------------------------------

.navMinify{
    display: none;
    width: 100%;
    height: 70px;
    background-color: #fff;
    @include Flex(row, nowrap, center, space-between);
    gap: 20px;
    padding: 10px 15px;
    box-sizing: border-box;

    .nameProject{
        width: auto;
        height: auto;
        
        .titleProject{
            font-size: 1.1em;
            font-family: "Inter", sans-serif;
            font-weight: 800;
            @include Flex(row, nowrap, center, start);
            gap: 10px;
        }

        a{
            text-decoration: none;
            color: #1a1a1a;
        }
        b{
            color: #62A43F !important;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .menuNavigation{
        width: 70px;
        height: 50px;
        position: relative;
        @include Flex(row, nowrap, center, center);
        border: 0px;
        background-color: #fff;


        div{
            display: block;
            width: 42px;
            height: 6px;
            border-radius: 10px;
            background-color: #1a1a1a;
            position: relative;

            &::before{
                content: "";
                width: 42px;
                height: 6px;
                border-radius: 10px;
                background-color: #1a1a1a;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 13px;
            }

            &::after{
                content: "";
                width: 42px;
                height: 6px;
                border-radius: 10px;
                background-color: #1a1a1a;
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 13px;
            }
        }
    }
}

.navigationMinify{
    width: 100%;
    height: auto;
    min-height: calc(100vh);
    padding: 60px 10px 30px 10px;
    box-sizing: border-box;
    @include Flex(column, nowrap, center, start);
    gap: 30px;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    z-index: 10;

    .navigationText{
        font-size: 1.5em;
        font-family: "Inter", sans-serif;
        color: #1a1a1a;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        transition: .2s ease-in-out;

        &::before{
            content: "";
            position: absolute;
            top: 8px;
            right: -22px;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #1a1a1a;
            border-right: 2px solid #1a1a1a;
        }
    }

    .navigationTextselect{
        font-weight: bold;
    }
    
    .boxDetails{
        width: 100%;
        height: auto;
        min-height: 60px;
        border-radius: 5px;
        background-color: #fff;
        padding: 10px 10px 30px 10px;
        border-bottom: 1px solid #686868;
        box-sizing: border-box;
        z-index: 1;

        @include Flex(column, nowrap, center, center);
        display: none;
        gap: 25px;

        a{
            text-align: center;
        }

       

        .navDetais{
            font-size: 1.3em;
            color: #424242;
            font-family: "Inter", sans-serif;
            text-align: center;

            &:hover{
                color: #1a1a1a;
                text-decoration: underline;
            }
        }
    }

    .buttonRegistre{
        width: 200px;
        height: 50px;
        margin-top: -10px;
        border-radius: 5px;
        font-size: .9em;
        font-family: "Inknut Antiqua", serif;
        background-color: #E9A476;
        padding: 5px;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        border: 0px;
        cursor: pointer;
        transition: .1s;
        &:hover{
            background-color: #d89264;
        }
    }

    .buttonLogin{
        width: 200px;
        height: 50px;
        border-radius: 5px;
        font-size: .9em;
        margin-top: 30px;
        font-family: "Inknut Antiqua", serif;
        background-color: #8f57c4;
        padding: 5px;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        border: 0px;
        cursor: pointer;
        transition: .1s;
        &:hover{
            background-color: #a36ada;
        }
    }
}

@media (max-width: 1390px) {
    .content{
        .nav{
            display: none;
        }
        .containerNavAndMenu{
            display: block;
        }
    }  
}

@media (min-width: 1391px) {
    .content{
        .nav{
            display: flex;
        }
        .containerNavAndMenu{
            display: none;
        }
    }  
}