@font-face {
    font-family: "Inder";
    src: url("/fonts/Inder/Inder-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url("/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/static/Inter_18pt-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Kalam";
    src: url("/fonts/Kalam/Kalam-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Kalam";
    src: url("/fonts/Kalam/Kalam-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
  }
  