@import "./fonts.scss";

/* Aplicação global */
body {
  font-family: "Inter", sans-serif;
}

.text{
  font-size: 13px;
  color: #1a1a1a;
  font-family: "Inter", sans-serif;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
}